[Desktop Entry]
Name=Password Manager
Exec=/usr/bin/passwordmanager-gui
Terminal=false
Type=Application
MimeType=application/x-executable
Icon=/usr/share/icons/Papirus/48x48/apps/mintsources-keys.svg